/samples/barcode/nbproject/private/
/barcode-sample/target/
/escpos/target/
/bitimage-sample/target/
/charcode-sample/target/
/dithering-sample/target/
/getstart-sample/target/
/samples/barcode-sample/target/
/samples/barcode/target/
/samples/bitimage/target/
/samples/charcode/target/
/samples/dithering/target/
/samples/getstart/target/
/samples/graphics-image/target/
/samples/pulsepin/target/
/samples/raster-image/target/
/samples/textstyle/target/
/escpos-coffee/target/